body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #202020;
  overflow: hidden;
}

footer {

  height: 96px;
  line-height: 96px;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

footer > .highlight {

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  padding: 8px 16px;
}

.ui.input > input, .ui.dropdown {

  /*border-color: rgb(118, 118, 118) !important;*/
  border-color: rgb(172, 172, 172) !important;
}

.empty-list {

  text-align: center;
  color: #808080;
}
