
#customer-register-child-list > * {

  margin-bottom: 8px;
}

.customer-register-child-list-element > *:nth-child(2) {

  margin-left: 8px;
}

.customer-register-child-list-element > *:last-child {

  margin-left: 8px;
  margin-right: 16px;
}
